#container{
    background: #f2f2f2;
    padding: 25px 50px;
}
/*CHAT AREA*/
#chat-area{
    display: flex;
    height: 80%;
}
#messages{
    background: #fff;
    border: 1px solid #999;
    border-radius: 20px 0px 0px 0px;
    display: flex;
    flex: 3;
    padding: 20px;
}
#users-list{
    background: #fff;
    border: 1px solid #999;
    border-radius: 0px 20px 0px 0px;
    display: flex;
    flex: 1;
    margin-left: 20px;
    padding: 20px;
}
/*FORMULARIO DE ENVIO MENSAJE*/
#send-msg-form{
    display: flex;
    height: 20%;
    padding-top: 20px;
}
#message{
    border: 1px solid #999;
    border-radius: 0px 0px 0px 20px;
    display: flex;
    flex: 2;
    font-size: 14px;
    padding: 20px;
    resize: none;
}
#send-msg-btn{
    background: #999;
    border-radius: 0px 0px 20px 0px;
    width: 75px;
}
#send-msg-btn > i{
    color: #fff;
    font-size: 20px;
}
#send-msg-btn:hover{
    cursor: pointer;
    background: rgb(75, 75, 75);
}
/*Usuarios en Linea*/
.user{
    margin: 10px 0px;
}
.online-icon{
    color: rgb(15, 250, 7);
    margin-right: 10px;
}
/*Mensajes*/
.my-msg{
    justify-content: flex-end;
}
.my-style-m{
    background: rgb(191, 202, 233);
    border: 1px solid rgb(79, 79, 187);
    color: rgb(0, 0, 0);
}
.my-style-f{
    background: rgb(233, 191, 224);
    border: 1px solid rgb(187, 79, 182);
    color: rgb(0, 0, 0);
}
.blue{
    background: rgb(70, 104, 216);
    border: 1px solid blue;
    color: #fff;
}
.pink{
    background: rgb(252, 114, 114);
    border: 1px solid rgb(255, 60, 93);
}
.message{
    border-radius: 10px;
    margin-bottom: 10px;
    overflow-x: auto;
    padding: 10px;
}