/*Registo Form*/
#welcome{
    align-items: center;
    background-image: url('/images/background.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
}
#registro-form{
    background: rgba(0,0,0,.25);
    padding: 30px;
    width: 350px;
}
#username{
    background: transparent;
    border: 1px solid #000;
    border-radius: 20px;
    font-size: 14px;
    margin: 20px 0px;
    padding: 10px;
}
#username::placeholder{
    color: #000;
}
#send-form{
    background: rgb(33, 95, 228);
    border-radius: 20px;
    color: #fff;
    display: block;
    padding: 10px 50px;
    margin: auto;
}
#send-form:hover{
    background: rgb(71, 124, 238);
    cursor: pointer;
}
#registro-form > div{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
#registro-form label{
    color: #fff;
    margin-right: 20px;
}
#registro-form input[type="radio"]{
    margin-right: 5px;
}
#registro-warning{
    background: rgba(255,0,0,.5);
    border: 1px solid red;
    margin-top: 10px;
    padding: 2.5px;
}
#warning-icon{
    color: yellow;
    margin-right: 10px;
}